.objective-view {
    position: absolute;
    width: 100%;
    top: 0;
}

.objective-view__inner {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgb(199, 199, 199);
    padding: 30px;
    position: relative;
}

.objective-view__close {
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 1;
    background-image: url('/icon-close.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    border: 0;
}

.objective-view__btn {
    border-radius: 25px;
}

.objective-view__btn--save {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    padding: 5px 30px;
}

.objective-view__btn--save:hover {
    background-color: #ffffff;
    color: #000000;
}