.card {
    border-radius: 0;
    box-shadow: 2px 2px 5px 0px rgb(199, 199, 199);
    height: 270px;
    padding: 15px;
    text-align: left;
}

.card__title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card__main-text {
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;
}

.card--create-objective {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}