.objective-cards-by-type > .container {
    background-color: #eee;
    border-radius: 10px;
    padding: 30px 15px;
}

.objective-cards-by-type__title {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: bold;
}