.header {
    height: 100px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 100px;
}

.header__logo img {
    width: 100%;
}

.header__logo a {
    text-decoration: none;
}

.main-navigation {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.main-navigation__item {
    font-weight: bold;
    padding-right: 15px;
}

.main-navigation__link {
    color: #ffffff;
    height: 100px;
    
}

.main-navigation__link.active {
    border-bottom: 1px solid #000000;
}